# HANDS ON GREASE DAY 1

# 1.1   The First stint based on printing the output

In [1]:
4+5

9

In [2]:
"COVID"+"19" # CONCATENATION

'COVID19'

In [54]:
#concatenating multi data type results into error
#concatenating string and integer or float
"covid"+19
"covid"+19.5

TypeError: can only concatenate str (not "int") to str

In [3]:
print("Q. What is CORONA?")
a="Bacteria"
b="Virus"
print("A. CORONA is {}".format(b))

Q. What is CORONA?
A. CORONA is Virus

# Type Function used to find out data type

In [4]:
type(1)

int

In [5]:
type("COVID")

str

In [55]:
type(15.75)

float

In [6]:
a = 2
b = 3
c = a + b 
print (c )
d = a * b 
print (d )

5
6

In [7]:
type(False)

bool

In [8]:
type([1,1])

list

# Variables- Containers for Storage

In [9]:
corona_infected_total=345
corona_infected_today=12
corona_infected_yesterday=6
District="Sehdol"
print(type(corona_infected_today))
print(District)

<class 'int'>
Sehdol

#  Expressions- Combination of Values

In [10]:
increment_infected=corona_infected_today-corona_infected_yesterday
print(increment_infected)

6

In [11]:
percent_increment=((corona_infected_today-corona_infected_yesterday)/corona_infected_yesterday)*100
print(percent_increment)

100.0

In [13]:
percent_increment= increment_infected * 100/corona_infected_yesterday
percent_increment

100.0

# Strings - ' and " create String

In [14]:
a="COVID"
b="19"
c=a+b
d=a+" "+b
print(c)
print(d)

COVID19
COVID 19

# INDEXING IN PYTHON- Starts with zero

In [15]:
A='CORONA'
A[0]

'C'

In [16]:
A[1]

'O'

In [17]:
A[2]

'R'

In [18]:
A[3]

'O'

In [19]:
A[4]

'N'

In [20]:
A[5]

'A'

In [21]:
A[6]

IndexError: string index out of range

In [56]:
#negative indexing also works
A[-1]

'A'

In [57]:
A[-3]

'D'

# STRING OPERATIONS

Slicing

In [22]:
A='INDIA'

In [23]:
A[0:2]

'IN'

In [24]:
A[:2]

'IN'

In [25]:
A[2:]

'DIA'

In [26]:
A[::2]

'IDA'

In [58]:
#reversing a string
A[::-1]

'AIDNI'

In [59]:
#how to select all characters except the last one
A[:-1]

'INDI'

# 1.2 Data Structures: Lists

In [27]:
["CORONA",2.567,34,[2,6,8],1345267]

['CORONA', 2.567, 34, [2, 6, 8], 1345267]

# Len() Functions-Returns the length = No. of elements

In [28]:
my_list=["CORONA",2.567,34,[2,6,8],1345267]
len(my_list)

5

# in and not in Boolean Membership

In [29]:
my_list=["CORONA",2.567,34,[2,6,8],1345267]
len(my_list)

5

In [30]:
"CORONA" in my_list

True

In [31]:
27 in my_list

False

In [32]:
27 not in my_list

True

In [33]:
2.567 in my_list

True

# SETS- UNORDERED AND INDEXED

In [34]:
{"CORONA",2.567,34,2,6,8,1345267}

{1345267, 2, 2.567, 34, 6, 8, 'CORONA'}

# DICTIONARY-Key- Value Pair

In [60]:
a={ "Assam":4904,"Bihar": 7181, "Chandigarh": 381}

In [61]:
a

{'Assam': 4904, 'Bihar': 7181, 'Chandigarh': 381}

In [62]:
a["Bihar"] #Value Indexing

7181

In [63]:
a.keys()

dict_keys(['Assam', 'Bihar', 'Chandigarh'])

In [64]:
a.values()

dict_values([4904, 7181, 381])

## Iterating through a dictionary

In [65]:
for key in a:
    print(key," ---> ", a[key])

Assam  --->  4904
Bihar  --->  7181
Chandigarh  --->  381

In [66]:
#using items()
for item in a.items():
    print(item)

('Assam', 4904)
('Bihar', 7181)
('Chandigarh', 381)

In [67]:
for key,value in  a.items():
    print(key, value)

Assam 4904
Bihar 7181
Chandigarh 381